html, body{
    background-color: #000000;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

ul{padding: 0;}
ul li{
    list-style: none;
    display: inline;
}

#projects li{
    padding: 12px;
    background-color: #333;
    color: #ccc;
    border-radius: 3px;
    margin-right: 6px;
    line-height: 3em;
    cursor: pointer;
}

#projects li:hover{ background-color: #555; color: #eee;}

#names li{
    width: 28%;
    border-radius: 3px;
    float: left;
    background-color: #333;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    margin: 6px 6px 0 0;
    padding: 12px;
}

/* write your styles here */

/* change #nameX [1,2,3 etc] to #yourname */
/* (BELOW AND IN THE HTML) */
/* make new li's in the html if needed */

#names li#name1{background-color: rgb(200, 162, 200); transition: opacity 1s;}
#names li#name1:hover{opacity: .5; color: Pink}

#names li#name2{background-color: rgb(68, 143, 9); }
#names li#name2:hover{ }

#names li#name3{background-color: rgb(54, 222, 218); }
#names li#name3:hover{ }

#names li#lucia{
  background: -moz-linear-gradient(rgb(255, 0, 136), yellow );
  background: -webkit-linear-gradient(rgb(255, 0, 136), yellow);

  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);

  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
}
#names li#lucia:hover{
  -ms-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);
 }

#names li#name5{background-color: rgb(9, 242, 56); }
#names li#name5:hover{ }

#names li#name6{background-color: rgb(233, 49, 101) }
#names li#name6:hover{ }

.rainbow {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal normal bold "Bad Script", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 3px 0 0 rgb(217,31,38) , 6px 0 0 rgb(226,91,14) , 9px 0 0 rgb(245,221,8) , 12px 0 0 rgb(5,148,68) , 15px 0 0 rgb(2,135,206) , 18px 0 0 rgb(4,77,145) , 21px 0 0 rgb(42,21,113) ;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.rainbow:hover {
  text-shadow: -3px 0 0 rgb(217,31,38) , -6px 0 0 rgb(226,91,14) , -9px 0 0 rgb(245,221,8) , -12px 0 0 rgb(5,148,68) , -15px 0 0 rgb(2,135,206) , -18px 0 0 rgb(4,77,145) , -21px 0 0 rgb(42,21,113) ;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#names li#Nicoleta{background-color: rgb(145, 49, 255); }
#names li#Nicoleta:hover{ background-color: aqua;}
